@import "home";

.index-description {
  width: 60%;
  font-family: helvetica;
  font-size: 14px;
  padding: 10px 7.5vw;
}

#index-title {
  position: absolute;
  left: 7.5vw;
  top: 10px;
}

#index-map-title {
  position: absolute;
  right: 7.5vw;
  top: 10px;
  color: black;
}

.index-title {
  position: relative;
  padding: 0px 7.5vw;
  font-family: helvetica;
  font-size: 16px;
  font-weight: bold;
}

.product-row {
  display: flex;
  justify-content: space-between;
  margin: 3em 7.5vw;
}

.index-image {
  .container {
    width: 100%;
  }
}

.indivudual-image {
  margin-bottom: 15px;
  padding: 0.5vw 1.2vw;
}

.map-container {
  width: 300px;
}

.index-price {
  font-family: helvetica;
  font-size: 14px;
  color: black;
}

.image-container-100 {

}

.map-container-100 {

}


.map-container-50 {
  width: 35%
}

.image-card-50 {
  padding: 10px 6.5vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.product-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  &.product-display-50 {
    width: 55%;
  }
  .product-item {
    display: flex;
    flex-direction: column;
    padding: 0.25em;
}
}


/*= Reset CSS
============= */
.comment-input-container{margin: 0 auto; max-width: 1200px;}
*{margin: 0; padding: 0; box-sizing: border-box;}
.row{float: left; width: 100%; padding: 20px 0 50px;}
/*= Reset CSS End
================= */

/*= input focus effects css
=========================== */
:focus{outline: none;}

.col-3{float: left; width: 100%; margin: 40px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 12px "Lato", helvetica; color: #000; width: 100%; box-sizing: border-box; }

.effect-1,
.effect-2,
.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid #000;}












