// for signup and login back pages
.log-container {

}

.log-form {

  font-family: helvetica;
  width:300px;
  margin-right:auto;
  margin-left:auto;
  border:1px solid #000;
}

.log-header {

  display: flex;
  height: 70px;
  padding: 10px 7.5vw;
  align-items: center;
}

.basic-button {
  color: black;
  font-family: helvetica;
  font-size: 16px;
  background-color: white;
  padding: 5px 1vw;

}
