.show-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 7.5vw;
}

.information {
  width: 516px;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px;
}

.avatar-name {
  text-align: left;
  margin-left: 15px;
  font-family: helvetica;
  font-size: 16px;
}

.mata-info {
  margin-top: 1em;
  font-family: helvetica;
  font-size: 14px;
}

.discription-info {
  font-family: helvetica;
  font-size: 14px;
}

.buying-info {
  display: flex;
  font-family: helvetica;
  font-size: 16px;
  margin: 30px 0px 35px;
}

.buying-info a {
  font-weight: bold;
  text-decoration: underline;
  background-color: none;
  color: black;
}

#price {
  margin-left: 10px;
}

.comment-info {
  font-family: helvetica;
  font-size: 14px;
}

.comment-info ul li {
  list-style-type: none;
}

.currency-accepted {
  font-family: helvetica;
  font-size: 12px;
  margin: 10px 5px 0px 0px;
}
.buying-info{
  font-size: 30px;
}
