h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: helvetica;
}

.user-container {
  position: relative;
  display: flex;
  font-family: helvetica;
  // background-color: gray;
  // justify-content: space-between;
  // width: 100%;
  // height: auto;
}

.information {
  flex: 0 1 auto;
  max-width: 375px;
  // background-color: #F2F3F4;
  // padding: 10px 7.5vw
}

.user-info {
  text-align: left;
  // display: flex;
  // align-items: left;
  // margin: 0px 0px 20px;
}

.user-form {
  // display: flex;
  width: 200px;

}

#name-form {
  list-style-type: none;
}

.user-footer {
  margin-top: 35px;
  font-size: 12px;
}
.avatar-name {
  margin-left: 0px;
  font-size: 16px;
}

.meta-info {
  // margin-top: 1em;
  font-size: 14px;
}


.user-orders {
  // background-color: #D3D3D3;
  flex: 1 1 auto;
  width: 500px;
  margin-top: -12px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card-row{
  width:100%;
}

.card-photo{
  width: 160px;
  height: 160px;
}

.card-inf{
  width: 220px;
  margin: 0;
  text-align:left
}

.card-inf ul{
   list-style-type: none;
}

.card-price {
  font-size:20px;
  text-align: left;
}

.card-confirmation {
  display:inline-block;
  font-size:20px;
  text-align: center;
}


