/* Main class */
.navbar-wagon {
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 10px 7.5vw;
  align-items: center;
  justify-content: space-between;
  box-shadow: none;
}
.navbar-icon{
  width:120px;
  height: 40px;
}



.navbar-search{
  position:relative;
}
.navbar-search a{
  right: 61px;
  font-size:16px;
  position: relative;
  color: black;
  left:320px;

}
.nav-options {
  font-family: helvetica;
  font-weight: bold;
  font-size: 16px;
  justify-content: center;

}
form, form div { display: inline; }

.nav-options span {
  padding-left: 10px;
}

.nav-options a {
  color: black;
  position: relative;
}


.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
.navbar-button{
  padding: 1em;
  border-radius: 15em;
  line-height: 25px;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-search-button {
  padding: 1em;
  border-radius: 15em;
  line-height: 25px;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
}
.navbar-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */

/* Navbar dropdown menu */

