<h1>Explore Jams</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @jams.each do |j|%>
        <%= render "jam", jam: j %>
      <% end %>
    </div>
  </div>
</div>

