<!-- Navbar -->
<%= render 'layouts/navbar' %>

<div class="index-container">
  <div class="index-description">
    <span>Hello, and welcome to our community. We are here to satisfy your every jam related need. We also sell guns. Please, make yourself at home.</span>
  </div>
  <div class="index-title">
    <span id="index-title">Explore jams</span>
    <a href="#" id="map-btn">
      <span id="index-map-title">Map</span>
    </a>
  </div>

  <div class="index-image">
    <div class="container">
      <div class="row">
        <div class="image-card">
          <% @jams.each  do |image| %>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 indivudual-image pull-left">
              <%= cl_image_tag( image.photo, width: 155, height: 155, crop: :fill) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

