<!-- Navbar -->
<%= render 'layouts/navbar' %>

<div class="index-container">
  <span>Hello, and welcome to our community. We are here to satisfy your every jam related need. We also sell guns. Please, make yourself at home.</span>

  <h1>
    <span>Explore jams</span>
  </h1>

  <div class="index-image">
    <ul>
      <li>
        <a href="">

        </a>
      </li>
    </ul>
  </div>
</div>

