.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 600px;
  padding: 30px;
  align-self: stretch;

}
.media-section {
  display: block;
  margin: 40px auto;
  text-align: center;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}
.media-section li {
  list-style:none
}
