.search-content {
  border: 0 none;
  background: none;
  decoration: underline;
  width: 70%;
  border-bottom: 2px solid black;
  font-size: 70px;

}
#search-bar {
  width: 70%;
  right: 400px;
display:none;

 }
